body {
    padding: 0 !important;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1em;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}


/*------- UTILITÁRIOS -------*/

/*Background-colors*/
.blue {
    background-color: #4c9ec4 !important ;
}
.white {
    background-color: #fff !important ;
}
.ice {
    background-color: #f3f3f3 !important;
}
.dark-blue {
    background-color:  #246095 !important;
}
.gray {
    background-color: #ddd  !important;
}
.dark-gray {
    background-color: #333  !important;
}

/* FLAT UI COLORS */
.turquoise {
    background-color: #1abc9c !important;
}
.emerald {
    background-color: #2ecc71 !important;
}
.peter-river {
    background-color: #3498db !important;
}
.amethyst {
    background-color: #9b59b6 !important;
}
.wet-asphalt {
    background-color: #34495e !important;
}
.green-sea {
    background-color: #16a085 !important;
}
.nephritis {
    background-color: #27ae60 !important;
}
.belize-hole {
    background-color: #2980b9 !important;
}
.wisteria {
    background-color: #8e44ad !important;
}
.midnight-blue {
    background-color: #2c3e50 !important;
}
.sun-flower {
    background-color: #f1c40f !important;
}
.carrot {
    background-color: #e67e22 !important;
}
.alizarin {
    background-color: #e74c3c !important;
}
.clouds {
    background-color: #ecf0f1 !important;
}
.concrete {
    background-color: #95a5a6 !important;
}
.orange {
    background-color: #f39c12 !important;
}
.pumpkin {
    background-color: #d35400 !important;
}
.pomegranate {
    background-color: #c0392b !important;
}
.silver {
    background-color: #bdc3c7 !important;
}
.asbestos {
    background-color: #7f8c8d !important;
}
.rose {
    background-color: #cc8080 !important;
}
.sun-flower-opacity {
    background-color: rgba(241, 196, 15,0.4) !important;
}
.wet-asphalt-opacity {
    background-color: rgba(52, 73, 94,0.4) !important;
}

.transparent {
    background-color: transparent !important;
}
.bco-opacity {
    background-color: rgba(255, 255, 255, 0.5);
}

.ver-mais {
    background-color: rgba(0, 0, 0, 0.1);
    border: none;
    cursor:pointer;
}

/*Font Colors*/
.c-blue {
    color: #4c9ec4 !important ;
}
.c-white {
    color:#fff  !important;
}
.c-dark-blue {
    color: #246095 !important ;
}
.c-gray {
    color: #ddd  !important;
}
.c-medium-gray {
    color: #707070 !important;
}
.c-dark-gray {
    color:  #333 !important;
}
.c-white-opacity {
    color: rgba(255, 255, 255, 0.5);
}

.hidden {
    overflow: hidden;
}
.scroll-y {
    overflow-y: scroll;
}
.scroll-x {
    overflow-x: scroll;
}
/* ----- Float & Positions -----*/
.right {
    float:right;
}
.left {
    float:left;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}

/* ------ Textos ---------*/
.uppercase {
    text-transform: uppercase;
}
.lowercase {
    text-transform: lowercase;
}

/* Widths*/
.w-1{
    width: 10%;
}
.w-2 {
    width: 20%;
}
.w-3 {
    width: 30%;
}
.w-4 {
    width: 40%;
}
.w-5 {
    width: 50%;
}
.w-6{
    width: 60%;
}
.w-7 {
    width: 70%;
}
.w-8 {
    width: 80%;
}
.w-9 {
    width:90%;
}
.w-10 {
    width: 100%;
}
.pointer {
    cursor:pointer;
}

.form-control {
    resize: none !important;
}

/* BREADCRUMB */
.breadcrumb {
    padding-top:25px;
}
.breadcrumb .glyphicon {
    padding-right: 7px;
}
.breadcrumb a {
    color: #333 !important;
}

/* fim utilitários*/

header div{
    height: 60px;
}
header ul {
    display: inline-block;
    list-style: none;
    float:right;
    margin:0;
}
header li {
    padding: 20px;
    float:left;
    cursor: pointer;
}
header li:hover {
    background-color: #ecf0f1;
    color: #d35400 !important;
}
.voltar {
    line-height: 60px;
    vertical-align: middle;
}
footer {
    height: 40px;
    width: 100%;
    background-color: #fff;
    color: #333;
    text-align: center;
    bottom: 0;
    padding-top: 10px;
    position: fixed;
}

.list-cor li, .list-cor li span {
    width: 24%;
    height: 70px;
}

#pnlLogin {
    position: relative;
    margin: 50px 25%;
    width: 50%;
}
#btnEntrar {
    margin-top: 25px;
    float:right;
}

.logo {
    padding: 15px;
    width: 250px;
}
.foto-perfil {
    width: 60px;
    padding:15px;
}
.auto {
    margin: auto;
}

/*ALL PAGES*/
main {
    margin-top: 30px;
}
main section {
    height: auto;
    margin-bottom: 20px !important;
}
.icon {
    color: rgba(0,0,0,0.2);
    font-size: 3em;
    padding: 20px;
}
/*INTERNA*/
.projeto {
    color: #fff;
    margin: 20px 0;
    min-height: 500px;
}
.projeto div {
    padding: 20px;
    height: auto;
}
.projeto p {
    overflow-y: auto;
}
.projeto .btn {
    background-color: rgba(0,0,0,0.2);
}
.projeto-heading {
    font-size: 1.7em ;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff !important;
    height:180px !important;
    word-wrap: break-word;
}
.projeto-heading span {
}
.projeto-meta {
    background-color: rgba(0, 0, 0, 0.2);
    height: 50px;
}
.projeto-meta p {
    height: 100px;
}
.projeto-recompensa {
    background-color: rgba(0, 0, 0, 0.5);
}
.projeto-recompensa p {
    height: 70px;
}



@media screen and (max-width: 990px) {
    #pnlLogin {
        margin: 50px 5% !important;
        width: 90% !important;
    }
    header li:hover {
        background-color: #ecf0f1;
        color: #d35400 !important;
    }
    .novo-mobile {
        display: none;
    }
    .logo {
        width: 200px;
    }
}